@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

.iconstyle{
    @apply text-xl cursor-pointer  hover:bg-green-600 rounded-full min-w-[40px] min-h-[40px] p-3
=======
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  
}

.swiper-container:hover .swiper-button-next:hover,
.swiper-container:hover .swiper-button-prev:hover {
  color: white;
  font-weight: bold;
>>>>>>> 3e4c55b53543543b9779a7fa8693cb074c666f96
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
}
=======
  font-family: 'Roboto', sans-serif;
}

>>>>>>> 3e4c55b53543543b9779a7fa8693cb074c666f96
